html,
body {
  width: 50%;
  margin: 0 auto;
  background-color: antiquewhite;
}

h1 {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}

#input {
  width: 12rem;
  border-top: 1px solid black;
  border-radius: 2em;
}

#addTo {
  height: 2.1em;
  width: 2.2em;
  border: 1px solid black;
  border-radius: 0.5em;
  vertical-align: middle;
}

.to-dos {
  margin-top: 25px;
}

.listItem-styling {
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  margin-right: 3em;
  margin-top: 1em;
  cursor: pointer;
  font-size: 1.3em;
}

.newInput-styles {
  border-top: 1px solid black;
  height: 1.5em;
  border-radius: 0.9em;
}

.container-styles {
  width: 10em;
  height: 10em;
  border-top: 1px solid black;
}

.newBtn-styles {
  height: 2em;
  width: 2em;
  border: 1px solid black;
  border-radius: 0.5em;
  /* flex: 0; */
}

.created-btn {
  width: 2em;
  height: 1.5em;
  /* position: relative;
  top: -1.5em;
  left: 10.5em; */
}

.created-input {
  width: 10em;
  height: 1em;
  left: -1em;
  /* flex: 1; */
}

.created-container {
  border: 1px solid black;
  width: 50vw;
  /* justify-content: flex-end;
  align-items: flex-end; */
  flex-direction: column;
  /* height: 70vh;  */
  /* top: 55em; */
  /* left: -1em; */
  position: relative;
  /* bottom: 15vh; */
  margin-bottom: 0.5em;
  display: flex;
}

.created-title {
  margin-right: 3em;
}

.hide {
  display: none;
}
